.container{
    float:left;
    height: 500px;
    width:1000px; 
    padding:3px; 
    //background:#FFA500;
}

.content{
    height:500px;
    overflow:scroll;
    //background:#FFFFFF;
}


.canvas{
    border:1px solid black;
}

.active {
  stroke:Yellow;
  stroke-width: 2px;
}